.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 160px;
}

.welcome-container h2 {
  color: #666;
  font-size: 1.5em;
  font-weight: 500;
}